* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


body {
    background-color: #000;
}

/* button style  start*/
button {
    border: none;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
    font-size: 18px;
    transition-property: box-shadow;
    font-weight: 100;
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    box-shadow: 0 0 25px rgb(0, 140, 255);
    padding: 9px 17px;
    border-radius: 10px;
    transition: 0.3s ease;
}


button:hover {
    transform: scale(1.1);
}

/* button style  end*/




.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px 30px 60px;
    border: 1px solid #3C4848;
    background-color: #180b1c89;
}

.navigation ul {
    display: flex;
    list-style: none;
}


/* navigation  */
.navigation .logo h2,
.footer_section h2 {
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    text-shadow: 0 0 25px rgb(0, 140, 255);
    /* Clip the background to the shape of the text */
    -webkit-background-clip: text;
    /* Standard property */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 20px;
}



.navigation .menu a {
    color: rgb(187, 187, 187);
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    transition:all 0.3s ease;
}


.navigation .menu a:hover{
    color: #00CFFF;
}


/* hero section */
.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    background: url(../images/home_page_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}


.hero_section::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}


.content_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: 1;
}



.hero_section h1 {
    padding-top: 0;
    width: 800px;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    /* Clip the background to the shape of the text */
    -webkit-background-clip: text;
    /* Standard property */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_section p {
    text-align: center;
    font-size: 25px;
    font-weight: 350;
    color: rgb(187, 187, 187);
}

.hero_section .hero_buttons button {
    margin: 20px;
}



#watch_live {
    background: transparent;
    border: 1px solid #00CFFF;
    color: #00CFFF;
    box-shadow: 0 0 0;
}

#watch_live:hover {
    background-color: #00d0ff4d;
    color: #000;

}

/* footer */
.footer_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 350;
    background-color: #180b1c89;
    padding: 30px 0px;
}

.footer_section ul {
    list-style: none;
}

.footer_section a {
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    color: rgb(143, 143, 143);
}
.footer_section div a:hover{
    transform: translateX(5px);
    color:#00CFFF;
}



.footer_section i {
    color: #00CFFF;
    font-size: 30px;
    padding: 30px 0;
}

.footer_section .footer_info i {
    padding: 0;
    margin: 0;
}

.footer_modify i {
    padding: 40px 50px 0 0;
}

.footer_modify p {
    width: 400px;
}

.footer_section .footer_modify h2,
h4 {
    padding: 0 0 19px;
}

.footer_copyrights {
    color: rgb(143, 143, 143);
}

.footer_info h5 {
    color: #cfcfcf;
    font-weight: 350px;
}

.footer_info p {
    color: rgb(143, 143, 143);
}


/* the first line gradient */
.footer_block .line_gradient1 {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,
            rgba(0, 207, 255, 0) 0%,
            rgba(0, 207, 255, 1) 50%,
            /* solid cyan in the center */
            rgba(0, 207, 255, 0) 100%
            /* transparent cyan on the right */
        );
}

/* the last line gradient  */
.line_gradient2 {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,
            rgba(0, 207, 255, 0) 0%,
            rgba(194, 62, 255, 1) 50%,
            /* solid cyan in the center */
            rgba(0, 207, 255, 0) 100%
            /* transparent cyan on the right */
        );

}

.footer_info_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_info_block div {
    padding: 16px;
}

.blue_line {
    /* background-color: #00CFFF; */
    border-bottom: 0.4px solid rgba(54, 72, 111, 0.537);
    width: 80rem;
    margin: auto;
}