* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


body {
    background-color: #000;
}

/* button style  start*/
button,
input[type='submit'] {
    border: none;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
    font-size: 18px;
    transition-property: box-shadow;
    font-weight: 100;
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    box-shadow: 0 0 25px rgb(0, 140, 255);
    padding: 9px 17px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}


button:hover,
input[type='submit']:hover {
    transform: scale(1.05);
}

/* button style  end*/




/* the home page start */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px 30px 60px;
    border: 1px solid #3C4848;
    background-color: #180b1c89;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navigation ul {
    display: flex;
    list-style: none;
}


/* navigation  */
.navigation .logo h2,
.footer_section h2 {
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    text-shadow: 0 0 25px rgb(0, 140, 255);
    /* Clip the background to the shape of the text */
    -webkit-background-clip: text;
    /* Standard property */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 20px;
}



.navigation .menu a {
    color: rgb(187, 187, 187);
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
}


.navigation .menu a:hover {
    color: #00CFFF;
}


/* hero section */
.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    background: url(../images/home_page_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}


.hero_section::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}


.content_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: 1;
}



.hero_section h1,
.contact_section .container .sub_container .left_side_container h1 {
    padding-top: 0;
    width: 800px;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    /* Clip the background to the shape of the text */
    -webkit-background-clip: text;
    /* Standard property */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_section p {
    text-align: center;
    font-size: 25px;
    font-weight: 350;
    color: rgb(187, 187, 187);
}

.hero_section .hero_buttons button {
    margin: 20px;
}



#watch_live {
    background: transparent;
    border: 1px solid #00CFFF;
    color: #00CFFF;
    box-shadow: 0 0 0;
}

#watch_live:hover {
    background-color: #00d0ff4d;
    color: #000;

}

/* cta style card */
.cta_card .card {
    width: 900px;
    height: 400px;
}

.cta_card .card .card_info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 200px 0;
    text-align: center;
    z-index: 999;
}

.cta_card .card .card_info h4 {
    text-align: center;
    font-weight: 400;
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    /* Clip the background to the shape of the text */
    -webkit-background-clip: text;
    /* Standard property */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_info .bolt {
    font-size: 30px;
    padding: 20px;
    color: #00CFFF;
}

/* the home page style end */

/* =============================== */


/* footer style start */
.footer_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 350;
    background-color: #180b1c89;
    padding: 30px 0px;
}

.footer_section ul {
    list-style: none;
}

.footer_section a {
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    color: rgb(143, 143, 143);
}

.footer_section div a:hover {
    transform: translateX(5px);
    color: #00CFFF;
}



.footer_section i {
    color: #00CFFF;
    font-size: 30px;
    padding: 30px 0;
}

.footer_section .footer_info i {
    padding: 0;
    margin: 0;
}

.footer_modify i {
    padding: 40px 50px 0 0;
}

.footer_modify p {
    width: 400px;
}

.footer_section .footer_modify h2,
h4 {
    padding: 0 0 19px;
}

.footer_copyrights {
    color: rgb(143, 143, 143);
}

.footer_info h5 {
    color: #cfcfcf;
    font-weight: 350px;
}

.footer_info p {
    color: rgb(143, 143, 143);
}


/* the first line gradient */
.footer_block .line_gradient1 {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,
            rgba(0, 207, 255, 0) 0%,
            rgba(0, 207, 255, 1) 50%,
            /* solid cyan in the center */
            rgba(0, 207, 255, 0) 100%
            /* transparent cyan on the right */
        );
}

/* the last line gradient  */
.line_gradient2 {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,
            rgba(0, 207, 255, 0) 0%,
            rgba(194, 62, 255, 1) 50%,
            /* solid cyan in the center */
            rgba(0, 207, 255, 0) 100%
            /* transparent cyan on the right */
        );

}

.footer_info_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_info_block div {
    padding: 16px;
}

.blue_line {
    /* background-color: #00CFFF; */
    border-bottom: 0.4px solid rgba(54, 72, 111, 0.537);
    width: 80rem;
    margin: auto;
}

/* footer style end */






/* =============================== */






/* tournaments page */
/* hero section */
.tournaments_hero_section {
    background: url(../images/gaming-tournaments-2048-x-1198-wallpaper-ajusl227ntsqgzzn.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    height: 500px;
}




.section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: 1;
}



.section_content h1 {
    padding-top: 0;
    width: 800px;
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    color: white;
}

/* cards style */
.card_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 90px;
}

.cards {
    padding: 19px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card_section h5 {
    padding: 10px;
    background: linear-gradient(to right, #00CFFF, #C23EFF);
    text-shadow: 0 0 25px rgb(0, 140, 255);
    /* Clip the background to the shape of the text */
    -webkit-background-clip: text;
    /* Standard property */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 18px;
}

.card {
    overflow: hidden;
    height: 450px;
    border-radius: 20px;
    width: 370px;
    background-color: #121219;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 207, 255, 0.1);
    position: relative;
}

.gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 207, 255, 0.4), transparent 60%);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease;
    z-index: 999;
}

.card:hover .gradient {
    width: 500px;
    height: 700px;
    opacity: 0.4;
}

.card_info p {
    color: #a1a1a1;
    font-size: 17px;
    font-weight: 100;
}

.card_info a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: #00CFFF;
    z-index: 9999;
}

.card_info a:hover {
    transform: scale(1.02);
}


.card:hover {
    transform: scale(1.05);
}

.card:hover .card_img img {
    transform: scale(1.08);
}

.card button {
    width: 250px;
    margin: 10px;
    margin: 20px 20px;
    box-shadow: 0 0 0;
    z-index: 999;
}

.card_info {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px 0;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    height: 200px;
}

.card_info h4 {
    font-weight: 200;
}

.card_img img {
    transition: all 0.3s ease;
    width: 430px;
    height: 230px;
    overflow: hidden;
}

/* tournaments page style end */



/* =============================== */



/* teams style start */
.teams_section {
    background: url(../images/AdobeStock_484007461.webp);
    background-position: center;
    background-size: cover;
}


.teams_card .card_info button {
    background: transparent;
    border: 1px solid #C23EFF;
    color: #C23EFF;
    margin: auto;
}

.teams_card .card_info button i {
    font-size: small;
    margin: 5px;
}

.teams_card .card_info {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    height: 100%;
    text-align: center;
}

.members_wins div:nth-child(1) {
    color: #00CFFF;
}

.members_wins div:nth-child(2) {
    color: #C23EFF;
}

.members_wins {
    display: flex;
    justify-content: space-around;
    font-size: small;
}

/* teams style end */





/* =============================== */




/* games style start */
.games_section {
    background: url(../images/call-of-duty-black-3840x2160-24210.jpg);
    background-position: center;
    background-size: cover;
}

.games_card img {
    width: 450px;
    height: 450px;
    position: relative;
}

.games_card .card_info {
    position: absolute;
    top: 260px;
    z-index: 999;
}

.games_card .card {
    text-shadow: #000;
}

.games_card .card {
    position: relative;
}

.games_card .card::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.4;
}

.games_card .card_info h4 {
    color: #00CFFF;
}

.games_card .card_info a {
    color: white;
}

/* games style end */




/* =============================== */






/* blog style start */
.blog_section {
    background: url(../images/ABSTRACT_WALLPAPER_Mesa_de_trabajo_1.jpg);
    background-position: center;
    background-size: cover;
}

.blog_cards .card {
    width: 480px;
}

.blog_cards .card_info {
    z-index: 999;
}

.blog_cards .card .card_img img {
    width: 500px;
}

.blog_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 10px;

}

.blog_cards .card_info a {
    font-size: 15px;
    font-weight: 300;
    padding: 0;
}

/* blog style end */



/* =============================== */

/* contact style start */

.contact_section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    height: 100vh;
    padding-top: 100px;
}


.contact_section .container .sub_container {
    height: 600px;
    border-radius: 20px;
    width: 1500px;
    margin: 100px;
    padding: 100px;
    background-color: #121219;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 207, 255, 0.1);
}

.contact_section .container .sub_container .left_side_container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}

.contact_section .container .sub_container .left_side_container i {
    color: #00CFFF;
    margin: 10px;
}

.contact_section .container .sub_container .right_side_container form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.contact_section .container .sub_container .right_side_container form input,
textarea {
    font-size: large;
    padding: 20px;
    margin: 10px;
    width: 400px;
    border: none;
    border-radius: 10px;
}

.contact_section .container .sub_container .left_side_container h1 {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.contact_section .container .sub_container .left_side_container p {
    color: white;
}

.contact_section .container .sub_container .left_side_container a {
    padding: 10px;
    color: rgb(188, 188, 188);
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.contact_section .container .sub_container .left_side_container a:hover {
    transform: scale(1.05);
    color: #00CFFF;
}

.contact_section .container .sub_container .left_side_container h1 {
    text-align: left;
}

/* contact style end */



/* login page style start */

.login_section .container .sub_container .left_side h1 {
    font-size: 70px;
}

.login_section .container .sub_container .left_side p {
    font-weight: 300;
    padding: 10px;
    font-size: 19px;
}

.login_section .container .sub_container .right_side input[type='text'],
.login_section .container .sub_container .right_side input[type='password'] {
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.login_section .container .sub_container .right_side_container .log_info {
    display: flex;
    justify-content: space-between;
}

#remember_me {
    width: 40px;
    margin: 0;
}

.login_section .container .sub_container .right_side_container {
    text-align: center;
}

.login_section .container .sub_container .right_side_container .log_info div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    justify-content: space-between;
}

.login_section .container .sub_container .right_side_container .log_info div label {
    padding-left: 0;
}

.login_section .container .sub_container .right_side_container .log_info a,
.or_signup a {
    color: #00CFFF;
    text-decoration: none;
    padding: 10px;
}

.or_signup {
    font-size: 17px;
}

.or_signup p {
    color: #acacacc1;
}

/* login page style end */

/* Events page style start */
 .events_section {
    background: url(../images/events.avif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    height: 500px;
    position: relative;
}

.events_section::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;

}
 .events_content button{
    background: red;
    width: 60px;
    margin: 0;
}
.events_content .card{
    height: 400px;
}
 /* Events page style end */

 .read_more{
    height: 500px;
    border-radius: 20px;
    width: 1500px;
    margin: 100px;
    padding: 50px;
    background-color: #121219;
    border: 1px solid rgba(0, 207, 255, 0.1);
 }
 .read_more_content{
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .read_more_content .read_more_img img{
    border-radius: 20px;
 }
 .read_more_content{
    color: white;
 }